.post {
    width: 94%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 350px) auto;
    gap: 100px;
    padding: 50px 0;
}
.content {
    margin-top: 50px;
}

.post_left_container {
    height: 250px;
    position: sticky;
    top: 50px;
    left: 0;
}

.post_left_container img {
    max-width: 350px;
    height: 100%;
}    

.post_right_container {
    height: 100%;
}

.content h2 {
    font-size: 30px;
    margin: 50px 0 0;
}

.content h3 {
    font-size: 24px;
    margin: 50px 0 0;
}

.content figure {
    margin: 10vh 0;
}

.post_right_container pre {
    background: #212020;
    padding: 30px;
}

.post_right_container code {
    color: #f8f8f8;
}

@media (max-width: 821px) {
    .post {
        grid-template-columns: 1fr;
    }
    
    .post_left_container {
        position: unset;
        margin: 0 auto;
    }
  }
  