---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../layouts/Layout.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import GridItem from "../components/GridItem.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={"About"} description={SITE_DESCRIPTION} />
  </head>
  <body class="About">
    <Layout title="About Me" heroImage="/public/images/2.webp">
      <section>
        <p>
          2018年からドイツのミュンヘンに住んでいます。ミュンヘンのWeb制作会社で4年間経験を積み、2023年7月からフリーランスとしても活動を始めました。GSAPやThree.jsのスキルを活かし、アニメーションやインターラクティブなWebサイト制作が得意なウェブ制作会社様と一緒に働きたいと考えています。趣味は旅行、食べ歩き、旅行先の古着屋でショッピングすることです。
        </p>
        <p>
          ミュンヘンに住んでいるので、夏は近くの山や湖に行きハイキングやSUPをしたり、冬はスキーをしたりなどアウトドアスポーツでリフレッシュしています。
          また旅行も好きなので、ヨーロッパの綺麗な街を探索してカフェや古着屋を見つけるのが好きです。
        </p>
        <ImageCarousel />
        <p>
          日本国内はもちろん、海外の様々なWebサイトを研究し、使用されているアニメーションの再現をすることが好きです。
        </p>
        <p>
          Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi
          tempus imperdiet. Id porta nibh venenatis cras sed felis eget velit.
          Ipsum a arcu cursus vitae. Facilisis magna etiam tempor orci eu
          lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non
          tellus orci ac. Blandit libero volutpat sed cras. Nec tincidunt
          praesent semper feugiat nibh sed pulvinar proin gravida. Egestas
          integer eget aliquet nibh praesent tristique magna.
        </p>
      </section>
      <section>
        <h2 class="inview_fadein">Another Private Projects</h2>
        <div class="grid-container">
          <GridItem
            siteUrl="https://aboo-singers.com"
            imageUrl="/public/images/ABOO-Singers.webp"
            altText="ABOO Singers - Website"
            title="ABOO Singers"
            description="ゴスペルグループのWebサイト。ディレクションからデザイン、開発全般を担当"
          />
          <GridItem
            siteUrl="https://flip-demosite.netlify.app/"
            imageUrl="/public/images/flip_demo.webp"
            altText="Demo Portfolio"
            title="デモ ポートフォリオ"
            description="GSAPとBarba.jsでスムーズなページ遷移を実装"
          />
          <GridItem
            siteUrl="https://demo-gallery-landing-page.vercel.app/"
            imageUrl="/public/images/gallery_site.webp"
            altText="Demo Surrrealism Gallery LP"
            title="デモ ギャラリーLP"
            description="Three.jsとGSAPを使用してギャラリーのLPを制作"
          />
          <GridItem
            siteUrl="https://webgl-barba-page-transition.vercel.app/"
            imageUrl="/public/images/webgl-barbaJS-pageTransition.webp"
            altText="Blog"
            title="BLog - WebGL&Barba.js"
            description="WebGLとBarba.jsを使用しスムーズなページ遷移の実装（デスクトップ閲覧推奨）"
          />
          <GridItem
            siteUrl="https://toms-webgellary.vercel.app/"
            imageUrl="/public/images/blog.webp"
            altText="Blog"
            title="Blog - Next.js&microCMS"
            description="今まで再現してきた一部のアニメーション実装の解説"
          />
        </div>
      </section>
    </Layout>

    <script>
      import initTextAnimation from "../library/initTextAnimation";

      document.addEventListener("DOMContentLoaded", () => {
        initTextAnimation();
      });
    </script>
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
      }
    </style>
  </body>
</html>
