---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import GridItem from "../components/GridItem.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={"About"} description={SITE_DESCRIPTION} />
  </head>
  <body class="About">
    <Header />
    <main>
      <div class="hero_wrapper">
        <div class="hero_title">
          <h1 class="inview_fadein" aria-label="About me">About me</h1>
        </div>
        <div class="hero_bottom_wrapper">
          <div class="hero_bottom_intro">
            <p>
              2018年からドイツのミュンヘンに住んでいます。ミュンヘンのWeb制作会社で4年間経験を積み、2023年7月から本業の傍らフリーランスとしても活動を始めました。GSAPやThree.jsのスキルを活かし、アニメーションやインターラクティブなWebサイト制作が得意な日本のウェブ制作会社様と一緒に働きたいと考えています。趣味は旅行、食べ歩き、旅行先の古着屋でショッピングすることです。
            </p>
          </div>
          <ImageCarousel />
        </div>
      </div>
      <section>
        <p>
          毎日の勉強が日課ですが、ミュンヘンに住んでいるので休みの日は、夏は近くの山や湖でハイキングやSUPをしたり、冬はスキーをしたりなどアウトドアスポーツでリフレッシュしています。
          また旅行も好きなので、ヨーロッパの綺麗な街を探索してカフェや古着屋を見つけるのが好きです。
        </p>
        <p>
          日本国内はもちろん、海外の様々なWebサイトを研究し、使用されているアニメーションの再現などをすることが好きです。再現する=チャレンジと考えていて、楽しいと同時に自分の知らないことをいつも学べる機会があります。
        </p>
      </section>
      <section>
        <h2 class="inview_fadein" aria-label="Another Private Projects">
          Another Private Projects
        </h2>
        <div class="grid-container">
          <GridItem
            siteUrl="https://aboo-singers.com"
            imageUrl="/images/ABOO-Singers.webp"
            altText="ABOO Singers - Website"
            title="ABOO Singers"
            description="ゴスペルグループのWebサイト。ディレクションからデザイン、開発全般を担当"
          />
          <GridItem
            siteUrl="https://flip-demosite.netlify.app/"
            imageUrl="/images/flip_demo.webp"
            altText="デモ ポートフォリオ"
            title="デモ ポートフォリオ"
            description="GSAPとBarba.jsでスムーズなページ遷移を実装"
          />
          <GridItem
            siteUrl="https://demo-gallery-landing-page.vercel.app/"
            imageUrl="/images/gallery_site.webp"
            altText="デモ ギャラリーLP"
            title="デモ ギャラリーLP"
            description="Three.jsとGSAPを使用してギャラリーのLPを制作"
          />
          <GridItem
            siteUrl="https://webgl-image-hover-transition.vercel.app/"
            imageUrl="/images/webgl-hover-transition.webp"
            altText="WebGL Image Hover Transition"
            title="WebGL Image Hover Transition"
            description="WebGLで、画像をホバーした際に背景画像のアニメーション実装"
          />
          <GridItem
            siteUrl="https://cylinder-image-gallery.vercel.app/"
            imageUrl="/images/cylinder-carousel.webp"
            altText="Cylinder carousel"
            title="Cylinder carousel"
            description="Three.jsとシェーダで、インターラクティブなカルーセルとポストエフェクトを実装"
          />
          <GridItem
            siteUrl="https://recreate-lions-news.netlify.app/"
            imageUrl="/images/threeJS-image-click-transition.webp"
            altText="Three.js click image transition"
            title="Three.js click image transition"
            description="Three.jsとシェーダを使用して、モーダルを実装"
          />
          <GridItem
            siteUrl="https://toms-webgellary.vercel.app/"
            imageUrl="/images/blog.webp"
            altText="ブログ"
            title="ブログ - Next.js&microCMS"
            description="今まで再現してきた一部のアニメーション実装の解説"
          />
          <GridItem
            siteUrl="https://threejs-key-event-box-animation.vercel.app/"
            imageUrl="/images/ThreeJS-keyEvent-Box-Animation.webp"
            altText="Three.js Key Event Animation"
            title="Three.js Key Event Animation"
            description="Three.jsを使用して、キーイベント操作で動くサイコロ"
          />
          <GridItem
            siteUrl="https://webgl-barba-page-transition.vercel.app/"
            imageUrl="/images/webgl-barbaJS-pageTransition.webp"
            altText="ブログ"
            title="デモブログ - WebGL&Barba.js"
            description="WebGLとBarba.jsを使用しスムーズなページ遷移の実装（デスクトップ閲覧推奨）"
          />
        </div>
      </section>
    </main>
    <Footer />

    <script>
      import initTextAnimation from "../library/initTextAnimation";

      document.addEventListener("DOMContentLoaded", () => {
        initTextAnimation();
      });
    </script>
    <style>
      .hero_wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

      .hero_title {
        height: 60vh;
        align-content: center;
        align-items: center;
      }

      .hero_wrapper h1 {
        font-size: calc(100vw / 6);
        line-height: 1.1em;
        white-space: nowrap;
        text-transform: uppercase;
        text-align: center;
      }

      .hero_bottom_wrapper {
        display: flex;
        justify-content: space-between;
        height: 40vh;
        gap: 10%;
        align-items: center;
      }

      .hero_bottom_intro {
        flex: 1;
      }

      section {
        margin: 0 0 10vh;
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
      }

      @media (max-width: 821px) {
        .hero_wrapper {
          margin: 0 0 10vh;
        }

        .hero_bottom_wrapper {
          flex-direction: column;
          height: auto;
          gap: 20px;
        }

        .About h2 {
          font-size: 30px;
        }
      }

      @media (min-width: 1100px) {
        .hero_wrapper h1 {
          font-size: calc((1100px - 2%) / 6);
        }
      }
    </style>
  </body>
</html>
