---

---

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/src/images/1.webp" alt="Image 1" />
    </div>
    <div class="swiper-slide">
      <img src="/src/images/2.webp" alt="Image 2" />
    </div>
    <div class="swiper-slide">
      <img src="/src/images/3.webp" alt="Image 3" />
    </div>
    <div class="swiper-slide">
      <img src="/src/images/4.webp" alt="Image 4" />
    </div>
    <div class="swiper-slide">
      <img src="/src/images/5.webp" alt="Image 5" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<style>
  .swiper-container {
    position: relative;
    height: 300px;
    overflow-x: clip;
    width: 100%;
    margin: 10vh auto;
    max-width: calc(100% - 20px);
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -4vh;
  }

  .swiper-pagination-bullet-active {
    background: black !important;
  }
</style>

<script>
  import Swiper from "swiper";
  import { FreeMode, Autoplay, Navigation, Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".swiper-container", {
      modules: [FreeMode, Autoplay, Navigation, Pagination],
      slidesPerView: 3,
      // freeMode: true,
      spaceBetween: 30,
      parallax: true,
      // speed: 2000,
      loop: true,
      autoplay: {
        delay: 2000,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        520: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        640: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
      },
    });
  });
</script>
